/*
See license information at the package root in LICENSE.md
*/
/* 
    Created on : 05 Aug 2019, 10:57:17 PM
    Author     : Justus
*/

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container {

    display: block;
}

html > body.noscript > #ion-document-container > #ion-document > nav#ion-navigation-container {

    display: none;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container {

    display: block;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container,
html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation {

    display: block;
    margin: 0px;
    padding: 0px;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation {
    
    position: fixed;
    width: 100%;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div#ion-navigation-small {
    
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div#ion-navigation-medium {
    
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div#ion-navigation-large {
    
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation span a {
    
    text-decoration: none;
    display: block;
    width: 100%;
/*    height: 100%;*/
    
    cursor: pointer;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation > ul {

    display: inline-block;
}

html > body > #ion-document-container > #ion-document header .ion-navigation-container .ion-navigation {
    display: block;
    position: relative;
    overflow: visible;
    width: 100%;
/*    z-index: 1001;*/
    z-index: 2;
    top: 0px;
    left: 0px;
}

html > body.ion-fixed-menu > #ion-document-container > #ion-document header .ion-navigation-container .ion-navigation {
    
    position: fixed;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation ul {
    
    padding: 0px;
    margin: 0px;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation ul li,
html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation ul li div
{
    
    display: inline-block;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation span {
    
    display: inline-block;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation i {
    
    float: left;
    padding: 0.25rem;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div#ion-navigation-small ul li i,
html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div#ion-navigation-medium ul li i {

    display: none;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div#ion-navigation-small {
    
    width: 90%;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div#ion-navigation-medium {
    
    width: 30%;
}

/* --- Navigation controls (small/medium) --- */ 

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container {
    
    position: relative;
    z-index: 2;
}

html > body.ion-navigation-opened > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div#ion-navigation-small,
html > body.ion-navigation-opened > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div#ion-navigation-medium {
    
    display: block;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div#ion-navigation-small,
html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div#ion-navigation-medium {
    
    display: none;
}

html > body.ion-navigation-opened > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div.ion-navigation-controls button.ion-navigation-open-button {
    
    display: none;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div.ion-navigation-controls button {
    
    font-size: 1.25rem;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div.ion-navigation-controls button.ion-navigation-open-button {
    
    display: block;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div.ion-navigation-controls button.ion-navigation-open-button i {
    
    text-shadow: 0px 0px 10px #000;
}

html > body.ion-navigation-opened > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div.ion-navigation-controls button.ion-navigation-close-button {
    
    display: block;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div.ion-navigation-controls button.ion-navigation-close-button {
    
    display: none;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div#ion-navigation-large li.ion-navigation-item.ion-list-item-caption.ion.list-item.icon span {
    
    margin-left: 0.5rem;
}

/*html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div#ion-navigation-large li.ion-navigation-item.home span,
html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div#ion-navigation-large li.ion-navigation-item.contact span {
   
    display: none;
}*/

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div.ion-navigation-search {
    
/*    display: inline-block;*/
    margin-left: auto;
    margin-right: auto;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation > div div.ion-navigation-search .ion-navigation-search-field {   

    width: calc(100% - 80px);
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation div#ion-navigation-large div.ion-navigation-search .ion-navigation-search-field {   
    
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
    -o-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;    

    opacity: 0;
    visibility: hidden;
    position: relative;
    
    top: 0px;
    left: 30px;
}

html > body > #ion-document-container > #ion-document > nav#ion-navigation-container div#ion-navigation.ion-navigation-search-active div#ion-navigation-large div.ion-navigation-search .ion-navigation-search-field {
        
    opacity: 1;  
    visibility: visible;
    
    top: 0px;
    left: 0px;
}

.ion-navigation-search-button {
    
    width: 60px;
    float: right;
}

#ion-navigation .ion-navigation {
    
}

#ion-navigation .ion-navigation.ion-navigation-floating {
    
    position: fixed;
}

#ion-navigation .ion-navigation.ion-navigation-docked {
    
    position: relative;
}

#ion-navigation .ion-navigation.ion-navigation-top {
    
}

#ion-navigation .ion-navigation.ion-navigation-top.ion-navigation-floating {
    
}

#ion-navigation .ion-navigation.ion-navigation-top.ion-navigation-docked {
    
}


/*html > body.ion-navigation > #ion-document-container > #ion-document > #ion-main-container > #ion-main > .ion-content-container {

    margin-top: 32px;
}

html > body.ion-navigation.ion-large > #ion-document-container > #ion-document > #ion-main-container > #ion-main > .ion-content-container {

    margin-top: 64px;
}*/

