/*
See license information at the package root in LICENSE.md
*/
/* 
    Created on : Apr 18, 2020, 8:04:36 PM
    Author     : Justus
*/


body.ion-hero > #ion-document-container > #ion-document > header {

    position: relative;
    height: 100% !important;
    width: 100% !important;
}

#ion-hero {

    height: 100%;
    background-repeat: no-repeat;
}

#ion-hero-gradient,
#ion-hero-media {
    
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#ion-hero-gradient {
    
    /* z-index: 1; */
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1))
}

#ion-hero-content {
    
    /* z-index: 2; */
    position: absolute;
    width: 95%;
    margin-top: 100px;
    color: #fff;
    text-shadow: 0px 0px 16px #000;
}

/*#ion-hero-copy *,
#ion-hero-copy  {
    
    font-size: 1.25rem;
    display: inline-block;
}*/

#ion-hero-copy > .ion-hero-heading {
    
    font-size: 2rem;
}

#ion-hero-arrow {
    
    font-size: 4em;
    opacity: 0;
    
    animation-name: blink;
    animation-duration: 2s;    
    animation-iteration-count: infinite;
}

#ion-hero a:hover {
    
    text-shadow: 0px 0px 16px #fff;
}

#ion-hero a {
    
    padding: 0px;
    margin: 0px;
}

#ion-hero-arrow a img {
    
    border: 0;
}

body.ion-hero div.ion-hero-container {

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;    
}

body.ion-hero span.ion-hero-text {

    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;    
}

#ion-hero-media .ion-image-container,
#ion-hero-media .ion-image-container .ion-image-content {
    
    width: 100%;
    height: 100%;
}

#ion-hero-media .ion-image-container .ion-image-content .ion-image {
    
    background-attachment: fixed;
}

body.ion-hero #ion-hero-content form {
    
    text-shadow: none;
}