/*
See license information at the package root in LICENSE.md
*/
/* 
    Created on : 05 Aug 2019, 10:57:17 PM
    Author     : Justus
*/

/*
html > body > #ion-document-container > #ion-document > nav#ion-navigation-container {

    display: block;
}

html > body.noscript > #ion-document-container > #ion-document > nav#ion-navigation-container {

    display: none;
}
*/
