/*
See license information at the package root in LICENSE.md
*/
/* 
    Created on : Apr 18, 2020, 11:13:40 PM
    Author     : Justus
*/

div.ion-image {
    
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}

img.ion-image {
    
}