/*
See license information at the package root in LICENSE.md
*/

html > body > #ion-document-container > #ion-document .ion-modal.active {

    display: block !important;
}

html > body > #ion-document-container > #ion-document .ion-modal.inactive {

    display: none !important;
}

