
* {
    box-sizing: border-box;
}

html,
html > body {
    display: inline;
    height: 100%;
}


html,
html > body,
html > body > #ion-document-container,
html > body > #ion-document-container > #ion-document {	    
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 100%;
}

html > body {
    overflow-x: hidden; /* !important */
    overflow-y: auto;
}

html > body > #ion-document-container {
    display: block;
    position: relative;	
    top: 0px;
    left: 0px;
    min-height: 100%;
}

html > body > #ion-document-container .ion-flexible-height,
html > body > #ion-document-container.ion-flexible-height {
    height: auto !important;
}

html > body > #ion-document-container .ion-full-height,
html > body > #ion-document-container.ion-full-height {
    height: 100% !important;
}

html > body.ion-hero > #ion-document-container {
    height: 100%;
}

html > body > #ion-document-container > #ion-document {	
    display: inline-block;
    position: relative;	
    font-size: 1em;    
    float: left;	
    height: 100%;
}


html > body > #ion-document-container > #ion-document header#ion-navigation-container div#ion-navigation,
html > body > #ion-document-container > #ion-document header#ion-header-container div#ion-header,
html > body > #ion-document-container > #ion-document header#ion-content-container div#ion-content,
html > body > #ion-document-container > #ion-document header#ion-footer-container div#ion-footer {
    display: block;
    height: 100%;
}


html > body > #ion-document-container > #ion-document nav > ul,
html > body > #ion-document-container > #ion-document nav > ul > li > ul,
html > body > #ion-document-container > #ion-document nav > ul > li {
/*html > body > #ion-document-container > #ion-document nav ul li ul li {*/

    padding: 0px;
    margin: 0px;	
    display: inline-block;
}

html > body.ion-noscript > #ion-document-container > #ion-document .ion-hide-noscript {   
    display: none;
}

html > body:not(.ion-noscript) > #ion-document-container > #ion-document .ion-hide-script {
    display: none;
}

@media print {
    
    html > body.ion-noscript > #ion-document-container > #ion-document .ion-hide-print {   
        
        display: none;
    }
}

@media screen {

    html > body:not(.ion-noscript) > #ion-document-container > #ion-document .ion-hide-screen {
        display: none;
    }
}


html > body > #ion-document-container > #ion-document .ion-hero #ion-hero-image {    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
}

html > body > #ion-document-container > #ion-document .ion-hero #ion-hero-image #ion-hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/*html > body > #ion-document-container > #ion-document ul:after,
html > body > #ion-document-container > #ion-document div:after {
    content: "";
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}*/

/*
html > body > #ion-document-container > #ion-document.ion-fixed-menu {
    overflow: hidden;
}

html > body > #ion-document-container > #ion-document.ion-fixed-menu main {
    overflow-x: hidden;
    overflow-y: auto;
}
*/

/*html > body > #ion-document-container > #ion-document > nav#ion-navigation {
    
    display: none;
}*/

/* --- Hero image --- */

html > body > #ion-document-container > #ion-document .ion-hero #ion-hero-image {
    height: 100%;
}

html > body > #ion-document-container > #ion-document header#ion-header-container {
    display: block;
}

/* --- Navigation --- */

html > body > #ion-document-container > #ion-document header .ion-navigation-container {
    
    position: relative;
    overflow: visible;
    width: 100%;
    z-index: 500;
}




/* Content */

.ion-image-container,
.ion-image,
.ion-image img {
    
    max-width: 100%;
}

/* Small screens */
@media (max-width: 600px) {

    html > body:not(.ion-noscript) > #ion-document-container > #ion-document .ion-hide-script-small,
    html > body.ion-noscript > #ion-document-container > #ion-document .ion-hide-noscript-small {   

        display: none;
    }

    html > body:not(.ion-noscript):not(.ion-navigation-active) > #ion-document-container > #ion-document .ion-hide-menu-inactive-small,
    html > body:not(.ion-noscript).ion-navigation-active > #ion-document-container > #ion-document .ion-hide-menu-active-small {   

        display: none;
    }        

    html > body.ion-fixed-menu > #ion-document-container > #ion-document main {  
        
        margin-top: 38.5px;
    }        
    
    html > body > #ion-document-container > #ion-document main { 
        
        /* height: calc(100% - 38.5px); */
        position: relative;
    }    
    
    html > body.ion-fixed-menu > #ion-document-container > #ion-document .ion-navigation-container,
    html > body.ion-fixed-menu > #ion-document-container > #ion-document .ion-navigation-container > .ion-navigation {
        
        height: 100%;
    }

    html > body.ion-fixed-menu > #ion-document-container > #ion-document .ion-navigation-container > .ion-navigation {
        
        overflow: auto;
    }
    
}

/* Medium screen */
@media (max-width: 992px) and (min-width: 601px) {
   
    html > body:not(.ion-noscript) > #ion-document-container > #ion-document .ion-hide-script-medium,
    html > body.ion-noscript > #ion-document-container > #ion-document .ion-hide-noscript-medium {   

        display: none;
    }    
    
    html > body:not(.ion-noscript):not(.ion-navigation-active) > #ion-document-container > #ion-document .ion-hide-menu-inactive-medium,
    html > body:not(.ion-noscript).ion-navigation-active > #ion-document-container > #ion-document .ion-hide-menu-active-medium {   

        display: none;
    }        
    
    html > body.ion-fixed-menu > #ion-document-container > #ion-document main {  
        
        margin-top: 172.4px;
    }
    
    html > body > #ion-document-container > #ion-document main { 
        
        /* height: calc(100% - 172.5px); */
        position: relative;
    }
}

/* Large screen */
@media (min-width: 993px) {

    html > body:not(.ion-noscript) > #ion-document-container > #ion-document .ion-hide-script-large,
    html > body.ion-noscript > #ion-document-container > #ion-document .ion-hide-noscript-large {   

        display: none;
    }

    html > body:not(.ion-noscript):not(.ion-navigation-active) > #ion-document-container > #ion-document .ion-hide-menu-inactive-large,
    html > body:not(.ion-noscript).ion-navigation-active > #ion-document-container > #ion-document .ion-hide-menu-active-large {   

        display: none;
    }       
    
    html > body.ion-fixed-menu > #ion-document-container > #ion-document main { 
        
        margin-top: 172.4px;
    }
    
    html > body > #ion-document-container > #ion-document main { 
        
        /* height: calc(100% - 172.5px); */
        position: relative;
    }
    
    html > body.ion-fixed-menu > #ion-document-container > #ion-document header .ion-navigation-container .ion-navigation .ion-navigation-content > div {

        padding-left: 10%;
        padding-right: 10%;
    }    
}










/*
div.section {
    p.paragraph {

        color: #666666;
        text-shadow: #eeeeee 0px 0px 5px;
        text-decoration: none;

        font-family: "Sterling Demi", Tahoma, Geneva, sens-serif;
        //letter-spacing: 2px;            

        //font-size: 0.8rem;
        display: block;

    }
}    

p {
    margin: 0px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1rem;
    line-height: 1.5rem;
    text-rendering: optimizeLegibility
}    

img {
    border: 0px;

    max-width: 100%;
    max-height: 100%;    
}

div.image {

    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;

    span {
        display: none;
    }
}

div.panel {


    display: block;
    width: 100%;

    position: relative;
    overflow: hidden; 



    div.panel {

        display: block;
        /*
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                //align-content: center;                    
                align-items: stretch;

    }

    // Normal alignments 

    div.panel.align-left {
        float: left;
    }     

    div.panel.align-right {
        float: right;
    }    

    div.panel.align-center {
        margin-left: auto;
        margin-right: auto;
    }    

    div.panel.align-top {
        top: 0%;
    }

    div.panel.align-bottom {
        top: 0%;

        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);  
        transform: translateY(100%);        
    }    

    div.panel.align-middle {

        top: 50%;

        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);  
        transform: translateY(-50%);        
    }

    // Auto-size

    div.panel.auto-size {
        display: inline-block;

        width: auto;
        height: auto;      
    }        

    div.panel.auto-size.align-center.align-top {
        left: 50%;
        top: 0%;

        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);  
        transform: translateX(-50%);           
    }

    div.panel.auto-size.align-center.align-middle {   

        position: absolute;

        left: 50%;
        top: 50%;

        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);  
        transform: translate(-50%,-50%);       
    }    

    div.panel.auto-size.align-center.align-bottom {

        position: absolute;

        left: 50%;
        top: 100%;

        -webkit-transform: translate(-50%,-100%);
        -moz-transform: translate(-50%,-100%);
        -ms-transform: translate(-50%,-100%);
        -o-transform: translate(-50%,-100%);  
        transform: translate(-50%,-100%);         
    }        

    div.panel.auto-size.align-bottom {

        top: 100%;

        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);  
        transform: translateY(-100%);        
    }          

}

#template {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#template *, 
#template *:before, 
#template *:after {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;  
}

/*div.panel,
input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input {
    display: inline-block;
}

#template-container:after,
#template:after,
li.menu-item:after,
ul.menu:after,
div.panel:after,
form:after,
img:after
{
    //content: "&nbsp;";
    content: "";
    display: block;
    clear: both;
    height: 0px;
    //width: 0px;
    visibility: hidden;
}

input.trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);		
}

label.trigger {
    display: block;
}	

nav {
    position: relative;
    display: block;
    height: 100%;
    overflow: visible;
}

.generate-columns(@n, @initial:1, @i: 1) when (@i =< @n) {

    @column = (@i + @initial) - 1;

    div.panel.width-@{column} {
        width: ( 100% / @n ) * @i;
        float: left;
    }
    .generate-columns(@n, @initial, (@i + 1));
}

// Default to 1 column
[class*="width-"] {
    width: 100%;
}

/*@media 
@media-medium {
    //.generate-columns(6, 1);
    //.generate-columns(6, 7);
    .generate-columns(12);	
}*/



/*@media (orientation: portrait) {
    div.panel { 
        background-size: auto 100%;
    }
}

@media (orientation: landscape) {
    div.panel { 
        background-size: 100% auto;
    }
}


            
@keyframes loading-indicator-sprite-128 {
    8%   { background-position: -128px; }
    16%  { background-position: -256px; }
    25%  { background-position: -384px; }
    33%  { background-position: -512px; }
    41%  { background-position: -640px; }
    50%  { background-position: -768px; }
    58%  { background-position: -896px; }
    66%  { background-position: -1024px; }
    75%  { background-position: -1152px; }
    83%  { background-position: -1280px; }
    100% { background-position: -1408px; }
}

@keyframes loading-indicator-sprite-64 {
    8%   { background-position: -64px; }
    16%  { background-position: -128px; }
    25%  { background-position: -192px; }
    33%  { background-position: -256px; }
    41%  { background-position: -320px; }
    50%  { background-position: -384px; }
    58%  { background-position: -448px; }
    66%  { background-position: -512px; }
    75%  { background-position: -576px; }
    83%  { background-position: -640px; }
    100% { background-position: -768px; }
}

@keyframes loading-indicator-sprite-48 {
    8%   { background-position: -48px; }
    16%  { background-position: -96px; }
    25%  { background-position: -144px; }
    33%  { background-position: -192px; }
    41%  { background-position: -240px; }
    50%  { background-position: -288px; }
    58%  { background-position: -336px; }
    66%  { background-position: -384px; }
    75%  { background-position: -432px; }
    83%  { background-position: -480px; }
    100% { background-position: -528px; }
}
*/

.ion-transparent {
    
    opacity: 0 !important;
}

.ion-translucent-10 {
    
    opacity: 0.1 !important;
}

.ion-translucent-20 {
    
    opacity: 0.2 !important;
}

.ion-translucent-30 {
    
    opacity: 0.3 !important;
}

.ion-translucent-40 {
    
    opacity: 0.4 !important;
}

.ion-translucent-50 {
    
    opacity: 0.5 !important;
}

.ion-translucent-60 {
    
    opacity: 0.6 !important;
}

.ion-translucent-70 {
    
    opacity: 0.7 !important;
}

.ion-translucent-80 {
    
    opacity: 0.8 !important;
}


.ion-translucent-90 {
    
    opacity: 0.9 !important;
}

.ion-solid {
    
    opacity: 1 !important;
}